{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:@shopify/typescript",
    "plugin:@shopify/prettier",

    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "rules": {
    "no-console": 1,
    "prettier/prettier": 2 // Means error
  }
}